<div class="card">
  <div class="card-header">
    <h2 class="text-center">Búsqueda Alfanumérica</h2>
  </div>

  <div class="card-body">
    <fieldset class="border rounded-3 p-3">
      <form [formGroup]="busquedaPredioForm">
        <div class="row g-3">
          <div class="col-lg-2 col-md-6">
            <input
              type="text"
              class="form-control"
              maxlength="11"
              formControlName="inputRuc"
              placeholder="RUC"
            />
          </div>

          <div class="col-lg-2 col-md-6">
            <input
              type="text"
              class="form-control"
              maxlength="11"
              formControlName="inputCus"
              placeholder="CUS"
            />
          </div>
          <div class="col-lg-2 col-md-4">
            <button
              type="button"
              class="btn btn-primary btn-block"
              (click)="onClickBuscarPredio()"
              [disabled]="busquedaPredioForm.invalid"
            >
              <i class="bi bi-search"></i>&nbsp;Buscar
            </button>
          </div>

          <div class="col-lg-2 col-md-4">
            <button
              type="button"
              class="btn btn-success btn-block"
              (click)="showDialogAvanzada()"
            >
              <i class="bi bi-zoom-in"></i>&nbsp;Avanzada
            </button>
          </div>
          <div class="col-lg-2 col-md-4">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="onClickLimpiarPredio()"
            >
              <i class="bi bi-trash3-fill"></i>&nbsp;Limpiar
            </button>
          </div>

          <div class="col-lg-1 col-md-3">
            <button type="button" class="btn btn-light">
              <img class="img" src="pdf.png" />
            </button>
          </div>
          <div class="col-lg-1 col-md-3">
            <button type="button" class="btn btn-light">
              <img class="img" src="excel.png" />
            </button>
          </div>
        </div>
      </form>
    </fieldset>

    <div class="card my-2">
      <p-table
        [value]="oBusquedaPredios"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="loadPrediosLazy($event)"
        [rowsPerPageOptions]="[10, 20, 50]"
      >
        <!-- [paginatorPosition]="'both'" -->
        <ng-template #header>
          <tr style="font-size: 12px">
            <th style="width: 5%">ITEM</th>
            <th style="width: 5%">NRO. CUS</th>
            <th style="width: 15%">DENOMINACIÓN DEL PREDIO</th>
            <th style="width: 10%">DEP.</th>
            <th style="width: 10%">PROV.</th>
            <th style="width: 10%">DIST.</th>
            <th style="width: 5%">TIPO PARTIDA</th>
            <th style="width: 20%">TITULAR</th>
            <th style="width: 5%">ÁREA m²</th>
            <th style="width: 5%">VISUALIZAR</th>
          </tr>
        </ng-template>
        <ng-template #body let-predios>
          <tr style="font-size: 10px">
            <td>{{ predios.item }}</td>
            <td>{{ predios.numeroSinabip }}</td>
            <td>{{ predios.denominacionInmueble }}</td>
            <td>{{ predios.nombreDepartamento }}</td>
            <td>{{ predios.nombreProvincia }}</td>
            <td>{{ predios.nombreDistrito }}</td>
            <td>{{ predios.codigoPartida }}</td>
            <td>{{ predios.nmbEntidad }}</td>
            <td>{{ predios.areaRegistral }}</td>
            <td>
              <p-button (click)="showDialogDetalle()"
                ><i class="bi bi-window-desktop"></i
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card flex justify-center">
      <p-dialog
        header="Búsqueda Avanzada"
        [modal]="true"
        [(visible)]="visibleAvanzado"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      >
        <form>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="cboDepartamento" class="form-label"
                >Departamento</label
              >
              <select id="cboDepartamento" class="form-control select2">
                <option selected>::Seleccionar::</option>
                @for (departamento of departamentos; track $index) {
                <option [value]="departamento.codigoDepartamento">
                  {{ departamento.descripcion }}
                </option>
                }
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for="cboProvincia" class="form-label">Provincia</label>
              <select id="cboProvincia" class="form-control select2">
                <option selected>::Seleccionar::</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for="cboDistrito" class="form-label">Distrito</label>
              <select id="cboDistrito" class="form-control select2">
                <option selected>::Seleccionar::</option>
              </select>
            </div>

            <div class="col-md-8">
              <label for="txtDirección" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="txtDirección" />
            </div>
            <div class="col-md-4">
              <label for="txtNroSI" class="form-label">Nº de SI</label>
              <input type="text" class="form-control" id="txtNroSI" />
            </div>

            <div class="col-md-4">
              <label for="txtTitular" class="form-label">Titular</label>
              <input type="text" class="form-control" id="txtTitular" />
            </div>
            <div class="col-md-4">
              <label for="txtAreaMin" class="form-label"
                >Área mínima en m²</label
              >
              <input type="text" class="form-control" id="txtAreaMin" />
            </div>
            <div class="col-md-4">
              <label for="txtAreMax" class="form-label"
                >Área máxima en m²</label
              >
              <input type="text" class="form-control" id="txtAreMax" />
            </div>

            <div class="col-md-4">
              <label for="cboPartida" class="form-label">Partida</label>
              <select id="cboPartida" class="form-control select2">
                <option selected>::Seleccionar::</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="txtNumero" class="form-label"> Número</label>
              <input type="text" class="form-control" id="txtNumero" />
            </div>
            <div class="col-md-12">
              <label for="txtOcurrencia" class="form-label">Ocurrencia</label>
              <input type="text" class="form-control" id="txtOcurrencia" />
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button
              type="button"
              class="btn btn-primary me-3"
              (click)="btnBuscarAvanzado()"
            >
              <i class="bi bi-search"></i> Buscar</button
            >&nbsp;
            <button
              type="button"
              class="btn btn-secondary"
              (click)="btnLimpiarFormularioAvanzado()"
            >
              <i class="bi bi-x-circle"></i> Limpiar
            </button>
          </div>
        </form>
      </p-dialog>
    </div>

    <div class="card flex justify-center my-2">
      <p-dialog
        [modal]="true"
        [(visible)]="visibleDetalle"
        [style]="{ width: '80rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [maximizable]="true"
      >
        <ng-template pTemplate="header">
          <div class="text-center w-100">
            <h2>
              Información del Predio Nº de CUS: 12345 - TIPO DE CUS: ESTATAL
            </h2>
          </div>
        </ng-template>

        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs custom-nav flex-wrap mb-3">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="datos-generales"
                  routerLinkActive="active"
                >
                  Datos generales</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="adquisicion"
                  routerLinkActive="active"
                  >Adquisicion e Inscripcion</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="actos" routerLinkActive="active"
                  >Actos de Administración y Disposición</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <router-outlet />
          </div>
        </div>
      </p-dialog>
    </div>
  </div>
</div>
