<div class="row">
    <div class="col-md-6">
        <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto">Datos del Transferente</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary"
                            style="width: 100%;margin-bottom: 10px">Otorgante</button>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-danger"
                            style="width: 100%;margin-bottom: 10px">Limpiar</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>CENTRO POBLADO MENOR LA LIMA</p>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 form-group">
                        <label for="cboTipoDocumento" class="form-label">Tipo de Documento</label>
                        <select id="cboTipoDocumento" class="form-control">
                            <option selected>--TIPO--</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="txtDireccion" class="form-label"></label>
                        <input type="text" class="form-control" id="txtDireccion">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto">Titular Actual</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" style="width: 100%; margin-bottom: 10px">A favor
                            de</button>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <p>MINISTERIO DE EDUCACION - CENTRO EDUCATIVO N° 16478</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <fieldset class="border rounded-3 p-3">
                <legend class="float-none w-auto">Datos de Adquisición</legend>
                <div class="row">
                    <div class="col-md-12">
                        <label for="cboModalidadAdquisición" class="form-label">Modalidad de Adquisición</label>
                        <select id="cboModalidadAdquisición" class="form-control">
                            <option selected>INSCRIPCION EN PRIMERA DE DOMINIO</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="cboDispositivoLegal" class="form-label">Dispositivo Legal</label>
                        <select id="cboDispositivoLegal" class="form-control">
                            <option selected></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="txtNumeroLegal" class="form-label">Número Legal</label>
                        <input type="text" class="form-control" id="txtNumeroLegal" value="1089">
                    </div>
                    <div class="col-md-4">
                        <label for="txtFechaLegal" class="form-label">Fecha Legal</label>
                        <input type="text" class="form-control" id="txtDireccion" value="07/27/19">
                    </div>
                    <div class="col-md-4">
                        <label for="txtAreaTitulom2" class="form-label">Área del Título m²</label>
                        <input type="text" class="form-control" id="txtAreaTitulom2" value="1,000">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="border rounded-3 p-3">
                <legend class="float-none w-auto">[Aporte/Equipamiento Urbano]</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label for="cboAporte" class="form-label">Aporte</label>
                        <select id="cboAporte" class="form-control">
                            <option selected>--TIPO--</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cboDetalle" class="form-label">Detalle</label>
                        <select id="cboDetalle" class="form-control">
                            <option selected>--TIPO--</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="col-md-6">
        <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto">Información Registral del Terreno</legend>
            <div class="row">
                <div class="col-md-12">
                    <label for="cboOficinaRegistral" class="form-label">Oficina Registral</label>
                    <select id="cboOficinaRegistral" class="form-control">
                        <option selected></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtAreaRegistralm2" class="form-label">Área Registral m²</label>
                    <input type="text" class="form-control" id="txtAreaRegistralm2" value="1,000">
                </div>
                <div class="col-md-6">
                    <label for="txtAreaRegistralm2" class="form-label">&nbsp;</label>

                </div>

                <div class="col-md-6">
                    <label for="cboPartidaRegistral" class="form-label">Partida Registral</label>
                    <select id="cboPartidaRegistral" class="form-control">
                        <option selected>FICHA</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtPartidaRegistral" class="form-label">&nbsp;</label>
                    <input type="text" class="form-control" id="txtPartidaRegistral" value="16690">
                </div>

                <div class="col-md-6">
                    <label for="cboPartidaMatriz" class="form-label">Partida Matriz</label>
                    <select id="cboPartidaMatriz" class="form-control">
                        <option selected>--SELECCIONE--</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtPartidaMatriz" class="form-label">&nbsp;</label>
                    <input type="text" class="form-control" id="txtPartidaMatriz">
                </div>
            </div>
            <div class="mt-2">
                <button class='btn btn-success'>
                    <i class="bi bi-plus-lg"></i> Anotación preventiva
                </button>
            </div>
        </fieldset>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <fieldset class="border rounded-3">
            <legend class="float-none w-auto">[Independización/ Acumulación / Rectificación]</legend>

            <div class="p-2">
                <button class='btn btn-primary'>
                    <i class="bi bi-plus-lg"></i> Agregar
                </button>
            </div>
            <div class="card">
                <p-table [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
                    [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template #header>
                        <tr>
                            <th style="width:5%">ACTO</th>
                            <th style="width:5%">TIPO REGISTRO</th>
                            <th style="width:10%">NRO. CUS</th>
                            <th style="width:10%">FECHA</th>
                            <th style="width:10%">AREA (m2)</th>
                            <th style="width:10%">TOMO</th>
                            <th style="width:10%">FOJA</th>
                            <th style="width:10%">FICHA</th>
                            <th style="width:10%">PARTIDA</th>
                            <th style="width:10%">COD. PREDIO</th>
                            <th style="width:10%">ACCIÓN</th>

                        </tr>
                    </ng-template>
                    <ng-template>
                        <tr>

                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </fieldset>
    </div>

</div>