<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="logo-sbn-blanco.png" alt="SBN Logo" class="brand-image"
           >
        <span class="brand-text font-weight-light">&nbsp;</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          
            <div class="info text-white">
                <div><strong>Usuario:</strong> 44037189</div>
                <div>MAURICIO CCASANI OLIVARES</div>
                <div><strong>Entidad:</strong> </div>
                <div><strong>RUC:</strong> </div>
            </div>
        </div>

        <!-- SidebarSearch Form -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a routerLink='/busqueda-predios' routerLinkActive="active" class="nav-link">
                        <i class="bi bi-search me-2"></i>
                        <p> Búsqueda Alfanumérica</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-bar-chart me-2"></i>
                        <p> Búsqueda Gráfica</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-file-earmark-text me-2"></i>
                        <p> Registro UD</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-clipboard-check me-2"></i>
                        <p> Control de Registro SDRC</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-bell me-2"></i>
                        <p> Notificaciones</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>